.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

#cartButton{
  display: none;
  background-color: rgba(255, 0, 0, 0.847);
}

.add-to-cart {
  display: none;
}

/* Блок товару */
.product-block {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #f9f9f9;
  flex-wrap: wrap; /* Дозволяє блокам переноситись на новий рядок */
}

/* Блок критеріїв пошуку */
.search-block {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #f9f9f9;
}

/* Нижній блок (футер) */
.footer {
  padding: 10px;
  background-color: #f2f2f2;
  clear: both; /* Очищає обидва боки, щоб футер не налазив на блоки товарів */
}

/* Стилі для контейнера */


/* Блок товару */
.product-block {
  background-color: #f9f9f9;
  min-height: 500px; /* Мінімальна висота поля для товарів */
}

/* Бокове меню */
.sidebar {
  background-color: #3434;
  min-height: 500px; /* Мінімальна висота бокового меню */
}

#addButton {
  display: none;
  background-color: rgba(255, 0, 0, 0.847);
}

#productList .deleteButton-in-card {
  display: none;
  background-color: rgba(255, 0, 0, 0.847);
}

.card {
  margin: 5px; /* Відступ знизу між карточками */
  transition: transform 0.3s;
  position: relative;

}
.card:hover {
  transform: scale(1.1); /* Збільшення карточки при наведенні */
  z-index: 9999; /* Встановлюємо високе значення z-index */

}

#deleteButton-in-card {
  display: none;
}

#paginationControls {
  margin-top: 20px; /* Змінено margin-bottom на margin-top */
  text-align: right; /* Змінено text-align на right */
}

.paginationButton {
  margin: 0 5px;
  display: inline-block; /* Додано display: inline-block для кнопок */
}

.page-divider {
  clear: both; /* Додано цей стиль для очищення попередніх обтікань */
  height: 1px;
  background-color: #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}